@charset "utf-8";
/* CSS Document */

.calendar-skin-wrapper{
	width:180px;	
	background-color:#FFF;
	margin:0 auto;
	padding-bottom: 5px;
}

.calendar-head{
	background-color:#3777BC;
	color:#FFF;
	padding: 3px;
	height:15px;
	position:relative;
}

.left-btn{
	float:left;
	margin-left: 7px;
	margin-top:-1px;
	cursor:pointer;
}

.year-month{
	float: left;
    margin-left: 38px;
	_display:inline;
	margin-top:1px\0;
}

.year-month span{
	margin-right:2px;
}

.year-month .year , .year-month .month{
	cursor:pointer;
}

.right-btn{
	float:right;
	margin-right:7px;
	margin-top:-1px;
	cursor:pointer;
}

.calendar-body{
	margin:5px auto;
	margin-top:8px\0;
	*margin-top:8px;
	_margin-top:5px;
}

.calendar-body td{
 	border: 1px solid #DFDFDF;
    border-collapse: collapse;
    padding: 4px;
    text-align: center;	
	cursor:pointer;
}

.calendar-body .weekmark td{
	border:0;
	padding-top:0;
	padding-bottom:5px;
	cursor: default;
}

.calendar-body td.not-currentmonth-day{
	color:#999;
}

.calendar-body td.hover{
	color:#3777BC;
}


.calendar-body td.selected{
	background-color: #3777BC;
    color: #FFFFFF;
}

.calendar-body td.today{
	background-color: #EB0113;
    color: #FFFFFF;
}

.calendar-body td.invalid{
	background-color: #F3F3F3;
    color: #FFFFFF;
	cursor:default;
}

.yearlist , .monthlist{
    background-color: #3777BC;
    height: 120px;
    left: 49px;
    overflow: auto;
    padding-bottom: 3px;
    position: absolute;
    text-align: center;
    top: 21px;
    width: 61px;
	display:none;
}

.yearlist li a , .monthlist li a{
	display: block;
    width: 44px;
	color:#FFF;
}

.yearlist li a:hover , .monthlist li a:hover{
	background-color:#FFF;
	color:#3777BC;
	text-decoration:none;
}

.monthlist{
	width:35px;
	left:95px;
	*left:96px;
	left:96px\0;
}
.monthlist li a{	
	width:18px;
}
	