@charset "utf-8";
/* CSS Document */
.dialog-skin-wrapper {
	font-size:12px;
	margin:0 auto;
	position:absolute;
}
.dialog-skin-wrapper .dialog-border-top-left, .dialog-skin-wrapper .dialog-border-top-right, .dialog-skin-wrapper .dialog-border-bottom-left, .dialog-skin-wrapper .dialog-border-bottom-right {
	width:10px;
	height:10px;
	background-color:rgba(0,0,0,.45);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#A0000000', EndColorStr='#A0000000');
}
.dialog-skin-wrapper .dialog-border-top-left {
	border-radius:7px 0 0 0;
}
.dialog-skin-wrapper .dialog-border-top-right {
	border-radius:0 7px 0 0;

}
.dialog-skin-wrapper .dialog-border-bottom-left {
	border-radius:0 0 0 7px;

}
.dialog-skin-wrapper .dialog-border-bottom-right {
	border-radius:0 0 7px 0;

}
.dialog-skin-wrapper  .dialog-border-top-mid, .dialog-skin-wrapper  .dialog-border-bottom-mid {
	background-color:rgba(0,0,0,.45);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#A0000000', EndColorStr='#A0000000');
}
.dialog-skin-wrapper .dialog-border-mid-left,.dialog-skin-wrapper  .dialog-border-mid-right {
	background-color:rgba(0,0,0,.45);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#A0000000', EndColorStr='#A0000000');
}
.dialog-skin-wrapper  .dialog-content {
	background-color:#FFF;
	vertical-align:top;
}
.dialog-skin-wrapper .dialog-content-head {
	background: none repeat scroll 0 0 #3777BC;
	border: 1px solid #005EAC;
	color: #FFFFFF;
	font-size: 14px;
	font-weight:bold;
	height:22px;
	line-height:22px;
	_line-height:24px;
	_overflow:hidden;
	vertical-align:middle;
	font-family:"宋体";
	padding-left:10px;
}
.dialog-skin-wrapper .dialog-content-body {
	padding: 10px;
	position: relative;
}
.dialog-skin-wrapper .dialog-content-foot {
	background: none repeat scroll 0 0 #F0F5F8;
	border-top: 1px solid #CCCCCC;
	padding: 8px;
	text-align: right;
}

.dialog-skin-wrapper .button {
	background-color: #005EAC;
	border-color: #B8D4E8 #124680 #124680 #B8D4E8;
	border-style: solid;
	border-width: 1px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	padding: 3px 10px;
	line-height: normal;
    *padding: 5px 7px 1px 7px;
	padding: 5px 15px 3px 15px\0;
}

.dialog-skin-wrapper .dialog-content-foot .dialog-content-foot-buttons .button {
	margin-left:5px;
}
